.musical-group-card {
  width: 360px;
  min-height: 320px;
  border-radius: 0;

  .mat-card-header {
    width: 100%;
    display: flex;
    justify-content: space-between;

    .mat-card-header-genre {
      width: 80px;
    }
  }
}
