<mat-card class="musical-group-card">
  <mat-card-header class="mat-card-header">
    <mat-card-title>{{ data.name }}</mat-card-title>
    <mat-card-subtitle *ngIf="data.creator">
      Créateur : {{ data.creator }}
    </mat-card-subtitle>
    <b *ngIf="data.musicGenre" class="mat-card-header-genre">{{
      data.musicGenre.name
    }}</b>
  </mat-card-header>
  <mat-card-content>
    <p>{{ data.description }}</p>
    <p><b>Début : </b>{{ data.startYear }}</p>
    <p *ngIf="data.separationYear">
      <b>Séparation : </b>{{ data.separationYear }}
    </p>
    <p><b>Origin : </b>{{ data.city.name + ", " + data.country.name }}</p>
    <p *ngIf="data.membersCount"><b>Membres : </b>{{ data.membersCount }}</p>
  </mat-card-content>
</mat-card>
