.main-wrapper
  display: flex
  justify-content: center
  align-items: center
  background-color: #fafafa

  .musical-group-wrapper
    .musical-group-header-container
      display: flex
      justify-content: space-between
      align-items: center
      gap: 120px
      padding: 32px 124px
      // border: 1px solid green

    .musical-group-content
      // border: 1px solid blue
