<div class="main-wrapper">
  <div class="musical-group-wrapper">
    <div class="musical-group-header-container">
      <h1>Groupe de musique</h1>
      <app-upload-xlsx (refreshData)="fetchData()"></app-upload-xlsx>
    </div>
    <div class="musical-group-content" *ngIf="0 < data.length">
      <app-musical-group-card-list [data]="data"></app-musical-group-card-list>
    </div>
  </div>
</div>
