<div class="container" appDnd (fileDropped)="onFileDropped($event)">
  <input
    type="file"
    #fileDropRef
    id="fileDropRef"
    (change)="fileBrowseHandler($event)"
    accept=".xlsx"
  />
  <img src="assets/icons/upload-file-icon.svg" alt="upload-file" />

  <h3>Drag and drop file here</h3>
  <h3>or</h3>
  <label for="fileDropRef">Browse for file</label>
</div>
<div class="files-list">
  <div class="single-file" *ngIf="file">
    <div class="file-icon" style="width: 50px">
      <img src="assets/icons/file-icon.svg" alt="file-icon" />
    </div>
    <div class="info">
      <h4 class="name">
        {{ file?.name }}
      </h4>
    </div>
    <div class="delete" (click)="deleteFile()">
      <img src="assets/icons/trash-icon.svg" alt="trash-icon" />
    </div>
  </div>
</div>
<button
  mat-raised-button
  color="warn"
  (click)="submitFile()"
  [disabled]="!file"
>
  Upload
</button>
